@charset "utf-8"

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
        "header nav nav nav"
        "main main main aside"
        "section1 section2 section3 aside"
        "footer footer footer footer";
    grid-gap: 0.2rem;
}

header {
    background-color: aliceblue;
    grid-area: header;
}


nav {
    background-color: antiquewhite;
    grid-area: nav;
}

main {
    background-color: aquamarine;
    grid-area: main;
}

section1 {
    background-color: palevioletred;
    grid-area: section1;
}

section2 {
    background-color: palevioletred;
    grid-area: section2;
}

section3 {
    background-color: palevioletred;
    grid-area: section3;
}

aside {
    background-color: bisque;
    grid-area: aside;
}

footer {
    background-color: blanchedalmond;
    grid-area: footer;
}

@media only screen and (max-width:940px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "header nav"
        "main main"
        "section1 aside"
        "section2 aside"
        "section3 aside"
        "footer footer";
    }
}

@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 1fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "section1"
        "section2"
        "section3"
        "footer";
    }

    body {
		font-size: 3.5vw;
    }
    
	h1 {
		font-size: 7vw;
	}
}
